@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
html,body {
    height: 100%;
    box-sizing: border-box;
}
body .page-config, body .page-noConfig {
    font-size: 0.9vw;
}
body .page-config .alert {
    --bs-alert-bg: unset;
    --bs-alert-border-color: unset;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.page-config form {
    display: contents !important;
}
.form-control, .form-select {
    font-size: unset;
}
.card-header {
    background-color: gainsboro !important;
    border-bottom: unset;
}
.w20 {width: 20%;}
.w25 {width: 25%;}
.w35 {width: 35%;}
.w40 {width: 40%;}
.w50 {width: 50%;}
.w60 {width: 60%;}
.w65 {width: 65%;}
.w75 {width: 75%;}
.w80 {width: 80%;}
.w100 {width: 100%;}
.w20, .w25, .w35, .w40, .w50, .w60, .w65, .w75, .w80, .w100 {
    display: flow-root;
}

.left, .right {
    padding-top: 1rem;
    height: calc(90vh - 1rem);
    overflow: hidden;
}

/*Click Unidade*/
.select_id {
    transition: transform 0.2s;
    font-size: 1vw;
}
.select_id:hover,
.select_id:focus {
    outline: none;
    transform: scale(1.02);
    color: white;
    background-color: green;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/*Unidade de Saúde*/
#u {
    min-height: 10vh;
    color: white;
    background-color: midnightblue;
    font-size: 4vw;
}

/*.card*/
#p > .row > div > .card {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.row > div > .card > .card {
    border: 0 !important;
}

/*Class Card*/
#p, #p > div {
    min-height: 25vh;
}
#p > .row > div > .card {
    color: white;
    background-color: midnightblue;
    border: 2px solid midnightblue;
}
#p > div > div > .card > .card {
    color: midnightblue;
}
#p .cidadao, #p #local {
    font-size: 1.5vw;
}
#p .risco_senha, #p .profissional, #p #tipo, #p #hora {
    font-size: 1.2vw;
}

/*Class button card*/
#b {
    min-height: 1rem;
}
#b > .row > div > .card {
    background-color: #EAECEE;
    border: 1px solid #34495E;
}

/*Class list*/
#l {
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#l > .row > div > .card {
    /*min-height: 10vh;*/
    padding: 0 10px 0 4px;
    background-color: #FFF;
    box-shadow: unset;
    border: unset;
    border-radius: unset;
    border-bottom: 2px solid #34495E;
}
#l .cidadao, #l #local, #l #tipo {
    font-size: 1vw;
}
#l .profissional, #l .risco_senha, #l #hora {
    font-size: 0.8vw;
}

/*Últimos chamados*/
#r {
    height: 4vh;
    color: white;
    background-color: green;
    font-size: 1.2vw;
}
/*Chamados recentes e não encerrados*/
#a {
    height: 4vh;
    color: white;
    background-color: #34495E;
    font-size: 1vw;
}

.cidadao, .profissional {
    width: 60%;
}
.local_tipo_hora {
    position: absolute;
    right: 0;
    width: 40%;
    height: 100%;
    text-align: center;
}

#s {
    font-size: 1vw;
    min-height: 4vh;
}
#h {
    font-size: 0.8vw;
    overflow-y: hidden;
}
#h .cidadao {
    font-size: 1vw;
}
#s, #h {
    max-height: 50vh;
    overflow-x: hidden;
}
#h > .row > div > .card {
    border: 0 !important;
    border-radius: unset !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    /*margin-top: 0.5rem;*/
    padding: 0rem 0.5rem;
}

/*Botão para mudar de unidade*/
#change {
    position: fixed;
    top: 10px;
    left: 0;
    width: auto;
    font-size: 2vw;
}
#change > a > i {
    color: white;
    rotate: -180deg;
}
#change > a > i:hover {
    transform: scale(1.1);
}

#left > a > i {
    color: midnightblue;
    margin-top: 1rem !important;
}

/*clock*/
.clock {
    position: fixed;
    top: 10px;
    right: 0;
    width: auto;
    color: white;
    text-align: right;
    font-size: 2vw;
}

.cidadao > .risco_senha {
    align-items: center;
}
.risco0, .risco6, .risco7, .risco8, .risco9{
    /*width: 30px;
    height: 30px;
    padding: 4px;*/
    padding: 0.8vw;
    margin-right: 4px;
    border-radius: 100%;
    border: 2px solid white;
}
.risco7 {
    background-color: yellow;
}
.risco8 {
    background-color: red;
}
.risco0, .risco6, .risco9 {
    background-color: green;
}
#p .borda_senha, #b .borda_senha, #l .borda_senha {
    display: flex;
    align-items: center;
    padding-left: 4px;
    border: 2px solid white;
    border-radius: 25px;
    padding-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#ads {
    width: 100%;
    height: 35vh;
    margin: 0 0 1rem 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.video-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* PIN MODAL */
  .modal-content {
    font-size: 2vw !important;
  }
  .keyboard-key {
    font-weight: 600;
    margin: 4px;
    height: 8vh;
  }
  .keyboard-key:hover,
  .keyboard-key:focus {
    outline: none;
    color: white;
    background-color: green;
    transform: scale(1.02);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  .keyboard-row {
    display: flex;
    justify-content: center;
  }
  
  .keyboard-key, .keyboard-delete, .keyboard-empty {
   display: flex;
   justify-content: center;
   align-items: center;
  }

  .modal-title {
    text-align: center;
  }
  #pinInput {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    color: green;
    height: 8vh;
  }

  .overflowY {
    overflow-y: auto !important;
  }

  .alert {
    padding: 4px 10px !important;
    margin-bottom: 4px !important;
  }
  
  /*CAROUSEL*/
  .carousel {
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-container {
      display: flex;
      white-space: nowrap;
      height: 100%;
      transition: transform 0.5s ease-in-out;
  }
  
  .carousel-slide {
      display: flex;
  }
  
  .carousel-slide img {
      flex-shrink: 0;
      width: 100%;
      height: 100%;
      object-fit: fill;
  }

  .noApiSpeak {
    font-size: 1vw;
    position: fixed;
    bottom: 0;
    text-align: center;
  }